<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
    type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
    <h1>Register</h1>
    <form action="/">
        <hr>
          <input type="text" name="name" id="name" placeholder="First Name" required />
        <input type="text" name="name" id="name" placeholder="Last Name" required />
        <input type="text" name="name" id="name" placeholder="Email" required />
        <input type="text" name="name" id="name" placeholder="Username" required />
        <input type="password" name="name" id="name" placeholder="Password" required />
        <label class="container"> <p>I agree to Terms and Conditions</p>
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <button class="btn">Sign Me Up></button>
    </form>
</div>